- if policy(@call).destroy?
  = link_to 'Delete Call', @call, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Cancel and go back to Call List', calls_path, class: 'btn btn-info'
