- if policy(@call).destroy?
  = link_to 'Delete Call', @call, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }
= link_to 'Back to Call List', calls_path, class: 'btn btn-info'
