#modal-forgot-password.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Password Reset
        %button.close{"data-dismiss" => "modal"}
          %span.glyphicon.glyphicon-remove
      .modal-body
        %h4 Forgot your password? We'll send password reset instructions via your email address.
        .row
          .col-md-8.col-md-offset-2 
            = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email'
              .form-group
                = f.submit 'Submit', :class => 'btn btn-success btn-block m-b-sm bold-font'