- breadcrumb :pages
%h3 Help & FAQ
%br
%h4 How does MinuteHero work?
%p MinuteHero is a virtual assistant, designed to make your life easier. MinuteHero dials into conference calls with you, automatically creates the minutes and sends you the document afterwards. All you need to do is tell MinuteHero the time for the call and the dial-in information. You can do that via the MinuteHero web portal or by sending an mail to invite@minutehero.net.
%p MinuteHero dials in at the specified time and starts listening for voice commands. During the call, you can use voice commands to add a summary, decisions, to dos, meetings to the minutes.  
%p Once the call is finished, MinuteHero sends you the document via email. 
%br
%h4 How do voice commands work?
%p When MiunteHero is on a call, you can control him with a set of voice commands. To do so, you just say "MinuteHero" followed by the command. MinuteHero will always confirm he got the command.
%br
%br
%h4 Which voice commands are available?
%p These are the available voice commands: 
%br
%p MinuteHero...
%p ... HANG UP:  MinuteHero stops recording and drops out of the call
%p ... SUMMARY:  Adds a Summary to the minutes
%p ... DECISION: Adds a Decision to the minutes
%p ... TASK:     Adds a task / To Do item to the minutes
%p ... MEETING:  Adds a Meeting to the minutes
%p ... STOP:     Ends any MinuteHero command
%br
%br
%h4 What output do I get from MinuteHero?
%p All minutes created by MinuteHero are available in an editable docx file. The output document contains information about the call and all items you added to the minutes during the call.  
%br
%br
%h4 What output quality can I expect?
%p All minutes created by MinuteHero are properly formatted in an editable docx file. 
%p To create the content, MinuteHero uses the most advanced speech-to-text technology available today. And we are constantly working on improving the quality of transcription. But no speech-to-text system is perfect, so there will be some mistakes in minutes.
%br
%p If you are not satisfied with the quality of your output document, please contact #{mail_to 'service@minutehero.net'}, and we work something out. Hero's promise.
%br
%br
%h4 What languages are supported?
%p Minutehero currently only works in English. 
%br
%p 
  We will be adding additional languages soon.  
  #{link_to 'Sign up to our newsletter', 'http://www.minutehero.net/register'}
  to stay up to date.
%br
%br
%h4 Is MinuteHero secure?
%p We take security and privacy very seriously. So we take as many precautions as possible to ensure the security of the MinuteHero service and the safety of your data. All voice recordings and documents are encrypted and stored on servers with state-of-the-art security systems.
%br
%br
%h4 What about privacy and data protection?
%p In some countries, recording of phone calls may require the participants' consent. This is why MinuteHero always announces himself when he joins a call and clearly states that he will record the call. Should one of the participants object, you can always stop MinuteHero by using the "Hang Up" command.
%br
%br
%br
%h4 For further questions, don't hesitate to contact #{mail_to 'service@minutehero.net'}!
