.text-center
  %h1 Tired of taking notes?
  %p
    We get it. Nobody likes to write up the minutes for a conference call. It takes time and distracts you from your real job.
    %br
    However, minutes are important to maintain focus and document results.
    %br
    Now MinuteHero is here to save your day!

  = link_to 'More Information', '#', class: 'btn btn-primary'