- breadcrumb :pages
%h3 Terms and Conditions

%p These Terms & Conditions (“T&Cs”), including their Attachments, are provided by 

%address
  MinuteHero GmbH (“MinuteHero”) 
  %br
  Yokohamastrasse 10 
  %br
  20457 Hamburg 


%p These T&Cs are effective upon the registration of the Customer for use of the Digital Assistant Service (“Effective Date”).


%p WHEREAS, MinuteHero has a subscription based Digital Assistant Service that provides Customer with the possibility to automatically create meeting documentation using spoken interactions with the voice interface of the Digital Assistant Service; and


%p WHEREAS, Customer agrees to enter accept these T&Cs to utilize the Digital Assistant Service to create meeting documentations in accordance with the terms and conditions of this Agreement and its Attachments; 


%p NOW THEREFORE the Customer agrees to the following:


%h4 1.	DEFINITIONS
%p 1.1 “Affiliate” means the parent company of a Party and its subsidiaries and any companies in which a Party or its parent company directly or indirectly hold outstanding and issued shares or other ownership interest. 
%p 1.2 “Confidential Information” means any information which is provided or disclosed by MinuteHero to the Customer and is marked as confidential or proprietary.  
%p 1.3 “Digital Assistant Service” or “Service” is the MinuteHero Service that uses speech recognition technology to create the Output Document.   
%p 1.4 “Output Document” means the document that will be provided by MinuteHero to Customer after using the Service. 
%p 1.5 “Individual User Account” means the account provided by MinuteHero for each Permitted User.   
%p 1.6 “Permitted User” means a Customer’s employee who i) is identified by an Individual User Account hereto and, ii) will use the Service provided hereunder solely on behalf of Customer and solely for the uses set forth in this Agreement. 


%h4 2.	CUSTOMER RESPONSIBILITIES
%p Customer will be solely responsible, at Customer’s own expense, for the following items to use the Digital Assistant Service: 
%ul
  %li a)	Invitation of the Digital Assistant Service to meetings following the user onboarding documentation;
  %li b)	Procurement and operation of passwords or other matters of security relating to its use and maintenance of Individual User Accounts; 
  %li c)	Strict compliance by all Customer employees, who are authorized to use the Digital Assistant Service within the terms of this Agreement; 


%h4 3.	RIGHT TO USE 
%p 3.1	MinuteHero grants to Customer a personal, nontransferable and non-exclusive right to use (RTU) the Digital Assistant Service solely for Customer’s use in documentation of meetings.   
%p 3.2	Confidential Information disclosed under this Agreement may be disclosed to Customer’s employees (including contract employees) who participate in the Service provided such employees, or contract employees have been made aware of their responsibilities under this Agreement and have undertaken confidentiality obligations with Customer.
%p 3.4       The RTU is subject to the restrictions set forth below and to the other limitations set forth in   this Agreement. 


%h4 4.	RTU RESTRICTIONS
%p 4.1	Customer agrees (i) not to use the Digital Assistant Service for illegal purposes; (ii) to comply with all regulations, or any other by law or by the present agreement binding document regarding the procedures networks connected to the Digital Assistant Service.  


%h4 5.	NO TRANSFER OF TITLE 
%p The Parties agree that nothing in this Agreement results in or may be construed as a transfer in title from MinuteHero to Customer of any intellectual property licensed hereunder.


%h4 6.	LIMITATION OF LIABILITY 
%p 6.1	Limitation of Liability. Even if advised of the possibility of loss, liability, damage or expense, neither Party, their employees, agents or consultants or any parent, subsidiary or affiliates shall be liable for any indirect damages, including any lost profits, data, business, goodwill, anticipated savings, opportunity or use or other special incidental or consequential damages, which the other Party may suffer as a result of or in connection with the furnishing of the Digital Assistant Service including the use or inability to use the Digital Assistant Service.
%p 6.2	Liability Not to Exceed Amounts Paid.  Either Party’s’s liability, if any, for claimed loss or damage under this Agreement shall not exceed in the aggregate the amount actually paid to MinuteHero by Customer in the twelve (12) months prior to the date(s) of the event(s) giving rise to the liability under this Agreement. 


%h4 7.	DISCLAIMER OF WARRANTIES. 
%p THE SERVICE IS PROVIDED “AS IS” AND MINUTEHERO MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND AND ASSUMES NO RESPONSIBILITY OR LIABILITY WITH RESPECT TO (I) THE USE, SUFFICIENCY OR ACCURACY OF THE DIGITAL ASSISTANT SERVICE OR (II) ANY SERVICES FURNISHED WITH RESPECT TO THEM. 
%p MINUTEHERO DISCLAIMS ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, EVEN IF MINUTEHERO HAS BEEN MADE AWARE OF SUCH PURPOSE, WARRANTIES ALLEGED TO ARISE AS A RESULT OF CUSTOM AND USAGE, AND THE WARRANTY AGAINST INFRINGEMENT OF PATENTS OR OTHER INTELLECTUAL PROPERTY RIGHTS. 
%p MOREOVER, CUSTOMER UNDERSTANDS AND AGREES THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE DIGITAL ASSISTANT SERVICE IS DONE AT CUSTOMER’S OWN RISK AND THAT CUSTOMER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO CUSTOMER’S COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.


%h4 8.	DISPUTE RESOLUTION 
%p 8.1	Dispute Resolution Procedure. In the event of any dispute between the Parties hereunder, the Parties shall first attempt to resolve the dispute in good faith. Prior to the initiation of the formal dispute resolution process set out below, every effort shall be made by the Parties to resolve all disputes on an informal basis. 
%p 8.2	Failed Negotiations. If the designated representatives fail to reach an agreement within thirty (30) calendar days of the date of the initiation of the amicable dispute resolution process (or such longer date as may be agreed to by the Parties in writing), the dispute shall be subject to the appropriate jurisdiction. 


%h4 9.	TERM AND TERMINATION
%p 9.1  	Term. The Term of this Agreement shall begin on the Effective Date, and continue to be in full force and effect for an indefinite period unless Customer or MinuteHero provides written notice of termination. Termination shall be effective towards the end of the calendar month following the month of the termination notice.  
%p 9.2	Termination.  
%p 9.2.1 Material Breach. Either Party may terminate this Agreement for material breach by the other by giving thirty (30) calendar days advance written notice specifying the breach complained of unless said breach is corrected within the said thirty (30) day notice period or within another mutually agreed upon time period.
%p If either Party breaches its Confidentiality and/or Intellectual Property obligations, or if Customer utilizes the Digital Assistant Service for an illegal purpose, termination may occur upon immediate notice to the breaching Party. 
%p 9.2.2 MinuteHero Right to Terminate. If at any time during the Term, MinuteHero ceases to have the right to provide the Service, this Agreement may be terminated immediately upon written notice to Customer.
%p 9.3  	Continuing Obligations. In the event of a termination of this Agreement in accordance with the terms hereof, Customer shall be responsible for and shall pay to MinuteHero all unpaid outstanding amounts duly owing by it to MinuteHero hereunder.  Any unpaid, outstanding amounts at the time of any such termination that have been disputed in good faith by Customer but that remain unresolved shall continue to be subject to the dispute resolution provisions in this Agreement until so resolved.
%p 9.4  	No Limitation of Remedies. These termination rights are in addition to all other rights and remedies available to either Party.  Termination for material breach of this Agreement pursuant to Section 10.2 shall not deprive MinuteHero of any of its rights in law or in equity, or as otherwise provided under this Agreement.  


%h4 10. GENERAL
%p 10.1	Publicity. Neither Party shall, without written permission of the other, use in advertising, publicity, packaging, labeling or otherwise, any trade name, trade-mark, trade device, service mark, symbol or other identification, abbreviation, contraction or simulation thereof associated with the other or used by the other to identify its products or services. Notwithstanding the foregoing, MinuteHero may identify Customer as a MinuteHero customer of the Service in its marketing and sales materials, subject to prior review and approval of such material by Customer which shall not be unreasonably withheld.
%p 10.2  	Public Announcements.  Neither Party shall make any public announcements regarding this Agreement without the prior consent of the other Party.
%p 10.3  	Prohibition of Assignment.  Customer shall not assign this Agreement or any license, rights or obligations granted hereunder, in whole or in part, to any other person or entity, without the prior written consent of MinuteHero, which consent may not be unreasonably withheld.
%p 10.4  	Waiver. A waiver of any default, breach or non-compliance under this Agreement is not effective unless in writing and signed by the Party to be bound by the waiver. No waiver shall be inferred from or implied by any failure to act or delay in acting by a Party in respect of any default, breach or non-observance or by anything done or omitted to be done by the other Party. The waiver by a Party of any default, breach or non-compliance under this Agreement shall not operate as a waiver of that Party's rights under this Agreement in respect of any continuing or subsequent default, breach or non-observance (whether of the same or any other nature). 
%p 10.5  	Force Majeure. 
%p 10.5.1  	Except for payment obligations hereunder, neither Party shall be liable for delay or damages if prevented from fulfilling its obligations by reason of Force Majeure causes, including but not limited to acts of war, terrorism, or hostilities (such as invasion or bombing), lockouts, strikes, riots, fires, earthquakes, governmental restrictions, directly affecting a Party’s ability to perform obligations under this Agreement, or for any cause beyond the control of  the affected Party, provided that the affected Party  gives notice to the other Party with fifteen (15) calendar days after a fact or event has been recognized by the affected Party. 
%p 10.5.2 The impact of Force Majeure on MinuteHero subcontractors hereunder shall be considered to be Force Majeure on MinuteHero, provided that MinuteHero gives notice to Customer. 
%p 10.6  	Severability.  If any provision or portion of a provision of this Agreement is held invalid or unenforceable, the remainder of the Agreement shall not be affected, and the remaining terms shall continue in effect and be binding on the Parties, provided that such holding of invalidity or unenforceability does not significantly affect the essence of the Agreement.
%p 10.7  	Notice. Any notice or other written communication required or permitted to be given by a Party under this Agreement must be in writing and addressed to the attention of the other Party's contact identified below.  Notice shall be delivered by and deemed received either: (i) five (5) business days after the notice has been mailed by certified mail or (ii) the next business day after receipted delivery to a recognized overnight courier.  Notice must be provided also to the email address of MinuteHero and deemed sent and received on the transmission date if followed by Notice in the manner set forth in the preceding sentence. The Parties may amend their respective notices’ contact information upon written notice to the other Party.

%h5 MinuteHero Legal Notice Contact: 
%address
  %strong MinuteHero GmbH
  %br	
  Elias Völker 
  %br	
  Managing Director
  %br
  Yokohamastr. 10
  %br
  20457 Hamburg, Germany
  %br
  Tel. No.	+49 (0)40 180 241 064
  %br
  Email	elias@MinuteHero.net


%h4 11. Choice of Law.  
%p 11.1	 This Agreement must be construed and enforced according to the substantive laws of Germany.  
%p 11.2  Compliance with Laws. The Parties agree to comply with all applicable laws of Germany.
%p 11.3  Survival.  The Parties’ obligations under this Agreement, which by their nature are intended to continue beyond or to be performed after the termination or expiration of this Agreement shall survive the termination or expiration of the Agreement and continue in effect.  The obligations that shall survive termination or expiration include, without limitation, the terms and conditions of this Agreement regarding confidentiality, payment, representations, warranties and liability.

%h4 12.	ENTIRE AGREEMENT
%p This Agreement constitutes the entire agreement between the Parties pertaining to its subject matter and supersedes all prior agreements, understandings, negotiations and discussions, whether oral or written, of the Parties and there are no warranties, representations or other agreements between the Parties in connection with its subject matter except as specifically set forth in this Agreement.  No supplement, modification, amendment or waiver of this Agreement shall be binding unless executed in writing by both Parties. 
%p The Parties to this Agreement agree to the terms and conditions herein and further represent that this Agreement is executed by duly authorized representatives as of the dates below.
%br

%h3 ATTACHMENT A: SERVICE DESCRIPTION
%h4 1.		DIGITAL ASSISTANT SERVICE
%p Customer will have access to the Service as set forth in Attachment A. 
%p As part of the Service MinuteHero will monitor the operations of the Service and perform, as needed, weekly reboots, daily and weekly archiving to an off-site location.  
%p 1.1	Voice Controlled Assistant. MinuteHero will provide a voice controlled assistant, which will dial into or otherwise join meeting to which the User has invited the Assistant following the procedure specified in the onboarding documentation provided to the user. 
%p 1.1.1	Supported Platforms. MinuteHero currently supports the following conferencing platforms: Dial-in Number based conferencing platforms, Skype, Skype for Business, Cisco Webex, Zoom, Join.me Pro, GoToMeeting Pro. Changes in the named platforms’ technology may result in temporary or permanent inability to support the platform.  
%p 1.2 	Output Document: The File will be made available to Customer as a DOCX file via email or via download link. The File can also be retrieved from the Individual User Account.  

%h4 2.	SERVICE AVAILABILITY OBJECTIVES
%p 2.1 	Virtual Assistant Service. The Service Level Availability (“SLA”) objective for the Virtual Assistant is 99% service availability during any given calendar month, 7 days a week, 24 hours a day, excluding scheduled maintenance windows.    
%p 2.2 	Service Level Availability.  The objective SLA of the Digital Assistant Service will be measured as follows:
%ul
  %li a.	Availability = (Total time of Operation of the Service in a reporting period (minus) Total outage time in the reporting period) divided by (Total Hours/Minutes of Operation in the reporting period), expressed as a percentage.
  %li b.	Scheduled and pre-announced maintenance window periods for the Digital Assistant Service are not included in SLA calculations. 

%h4 3.  Help Desk.  
%p Customer will have MinuteHero support to report any problems and/or to ask questions related to the Digital Assistant Service.  The support can be contacted via email under support@minutehero.net 
%br

%p Last Edited on 2017-08-03
