- breadcrumb :pages
%h3 Terms and Conditions
%br
%p These Terms & Conditions (“T&Cs”), including their Attachments, are provided by 
%br
MinuteHero GmbH (“MinuteHero”)
%br
Yokohamastrasse 10
%br
20457 Hamburg 
%br
%br
These T&Cs are effective upon the date last signed by the Parties hereto (“Effective Date”).
WHEREAS, MinuteHero has a subscription based Digital Assistant Service that provides Customer with the possibility to automatically create meeting documentation using spoken interactions with the voice interface of the Digital Assistant Service; and
WHEREAS, Customer agrees to enter into this Agreement to utilize the Digital Assistant Service to create meeting documentations in accordance with the terms and conditions of this Agreement and its Attachments; 
NOW THEREFORE the Parties agree to the following:
