- flash.each do |key, value|
  - if value.class == Array
    %div{:class => "#{flash_class(key)}"}
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      - value.each do |message|
        %strong Error:
        = message
        %br
  - else
    %div{:class => "#{flash_class(key)}"}
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = value

